<div th:fragment="header" class="mb-5">
    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand p-3" href="/">MuzCamp</a>
        <ul class="navbar-nav ms-auto me-5" sec:authorize="!isAuthenticated()">
            <li class="nav-item"><a class="nav-link" href="/signup">Зарегистрироваться</a></li>
            <li class="nav-item"><a class="nav-link" href="/login">Войти</a></li>
        </ul>
        <ul class="navbar-nav me-auto" sec:authorize="isAuthenticated()" th:with="thisPerson=${currentPerson.get()}">
            <li class="nav-item"><a class="nav-link" th:href="@{'/user/' + ${thisPerson.getId()}}">Моя страница</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/user/feed">Подписки</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/user/settings">Настройки</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto me-5" sec:authorize="isAuthenticated()">
            <li class="nav-item">
                <a href="/logout" class="btn btn-danger" role="button">Выйти</a>
            </li>
        </ul>
    </nav>
</div>