<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MuzCamp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body class="bg-light">

<header th:insert="header :: header"></header>

<main>

    <div class="container">
        <div class="row mb-2 row-cols-2">
            <form action="/search">
                <div class="row row-cols-2">
                    <div class="col-6">
                        <input type="text" name="query" required class="form-control">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Искать</button>
                    </div>
                </div>
            </form>
        </div>
        <h1 class="text-center">Топ продаж</h1>
        <div th:switch="${topOverall.size()} > 0" class="container border-top" style="min-height: 8rem">
            <div class="row">
                <div th:case="true">
                    <div class="row row-cols-5 justify-content-center gap-3 pt-2 pb-2">
                        <div th:each="pub : ${topOverall}" class="card col-2">
                            <img th:if="${pub.getImageBean() == null}" th:src="@{/svg/square.svg}" class="card-img-top p-1 mx-auto" style="width: 190px">
                            <img th:if="${pub.getImageBean() != null}" th:src="'/image/' + ${pub.getImageBean().getId()}" class="card-img-top p-1 mx-auto" style="width: 190px">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${pub.getTitle()}"></h5>
                                <h6 class="card-subtitle mb-2 text-muted"
                                    th:text="${pub.getPersonBean().getUsername()}"></h6>
                            </div>
                            <div class="card-footer d-flex justify-content-center">
                                <a class="btn btn-primary" th:href="@{'/publication/' + ${pub.getId()}}">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 th:case="false" style="color: grey" align="center">Пока нет публикаций</h3>
            </div>
        </div>
    </div>
    <div th:each="pubMapEl : ${topByGenre}" class="container">
        <h1 class="text-center" th:text="'Топ публикаций в жанре ' + ${pubMapEl.getKey()}"></h1>
        <div th:with="pubList=${pubMapEl.getValue()}" th:switch="${pubList.size()} > 0" class="container">
            <div class="row border-top" style="min-height: 8rem">
                <div th:case="true">
                    <div class="row row-cols-5 justify-content-center gap-3 pt-2 pb-2">
                        <div th:each="pub : ${pubList}" class="card col-2">
                            <img th:if="${pub.getImageBean() == null}" th:src="@{/svg/square.svg}" class="card-img-top p-1 mx-auto" style="width: 190px">
                            <img th:if="${pub.getImageBean() != null}" th:src="'/image/' + ${pub.getImageBean().getId()}" class="card-img-top p-1 mx-auto" style="width: 190px">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${pub.getTitle()}"></h5>
                                <h6 class="card-subtitle mb-2 text-muted"
                                    th:text="${pub.getPersonBean().getUsername()}"></h6>
                            </div>
                            <div class="card-footer d-flex justify-content-center">
                                <a class="btn btn-primary" th:href="@{'/publication/' + ${pub.getId()}}">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 th:case="false" class="text-center" style="color: #808080"
                    th:text="'Пока публикаций в жанре ' + ${pubMapEl.getKey() + ' нет'}" align="center"></h3>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>
</html>