<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="${publication.getTitle()}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body class="bg-light">
<header th:insert="header :: header"></header>
<div class="container">
    <div class="row row-cols-2 pb-2 border-bottom">
        <div class="col-4 pe-3 border-end">
            <div th:switch="${publication.getImageBean() == null}">
                <div th:case="true">
                    <img th:src="@{/svg/square.svg}" class="img-thumbnail" style="width: 300px">
                </div>
                <div th:case="false">
                    <img th:src="@{'/image/' + ${publication.getImageBean().getId()}}" class="img-thumbnail"
                         style="width: 300px">
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row mt-2 mb-1">
                <div class="col-10">
                    <h4 th:text="${publication.getTitle()}"></h4>
                </div>
                <div class="col-2">
                    <span class="badge rounded-pill bg-primary" th:if="${publication.getGenre() != null}"
                          th:text="${publication.getGenre().getName()}"></span>
                </div>
            </div>
            <div class="row mb-3 pb-2 border-bottom">
                <a th:href="@{'/user/' + ${publication.getPersonBean().getId()}}"
                   th:text="${publication.getPersonBean().getUsername()}"></a>
            </div>
            <div class="row mb-3 h-50">
                <p class="lead"
                   th:text="${publication.getDescription() != null ? publication.getDescription() : ''}"></p>
            </div>
            <div class="row">
                <div class="col-auto me-3" th:if="${publication.getMerch()}">
                    <h5 th:text="${'Осталось ' + publication.getAmount()}"></h5>
                </div>
                <div class="col-3">
                    <h5 th:text="'Цена: ' + ${publication.getPrice()} + ' ₽'"></h5>
                </div>
                <div class="col-auto ms-auto me-1" th:if="${canBuy}">
                    <a class="btn btn-primary" th:href="@{'/publication/' + ${publication.getId()} + '/buy'}">Купить</a>
                </div>
                <div class="col-auto me-1"
                     th:if="${currentPerson.isPresent() and !wishListed and canBuy and currentPerson.get().getId() != publication.getPersonBean().getId()}">
                    <form th:action="@{'/publication/' + ${publication.getId()} + '/wish'}" th:method="post">
                        <button class="btn btn-primary" type="submit">В желаемое</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-2">
        <div th:if="${!publication.getMerch()}" class="col-4 pe-3 pb-1 border-end border-bottom">
            <div class="container mb-2">
                <h5 class="mt-1 ms-3" th:text="${publication.getTracks().get(0).getName()}" id="trackLabel"></h5>
                <audio controls preload="auto" id="audioPlayer">
                    <source th:src="@{'/track/' + ${publication.getTracks().get(0).getId()}}" id="trackSource"
                            type="audio/mp3">
                </audio>
            </div>
            <div th:each="track : ${publication.getTracks()}" class="row p-1 rounded-3 mb-2"
                 style="background-color: #eaeaea">
                <div class="col-3 border-end">
                    <button class="btn btn-primary" th:onclick="'playTrack(' + ${track.getId()} + ')'">Играть</button>
                </div>
                <div class="col-auto">
                    <h5 th:text="${track.getName()}" th:id="'track' + ${track.getId()}"></h5>
                </div>
            </div>
        </div>
        <div class="col-7 ps-3 ms-auto">
            <div class="container text-center mt-2">
                <h5>Отзывы</h5>
                <div th:each="comment : ${publication.getComments()}" class="row pb-1 mt-1 border-bottom">
                    <div class="col-4 d-flex justify-content-end">
                        <h5 th:text="${comment.getPersonBean().getUsername() + ': '}"></h5>
                    </div>
                    <div class="col-5 d-flex justify-content-start">
                        <p align="left" th:text="${comment.getText()}"></p>
                    </div>
                    <div class="col-3"
                         th:if="${currentPerson.isPresent() && currentPerson.get().getId() == comment.getPersonBean().getId() || #authorization.expression('hasAuthority(''MODERATOR'')') || #authorization.expression('hasAuthority(''ADMIN'')')}">
                        <form th:action="@{'/publication/' + ${publication.getId()} +  '/comment/remove'}"
                              method="post">
                            <input type="hidden" th:value="${comment.getId()}" name="commentId">
                            <button class="btn btn-danger btn-sm" type="submit">Удалить</button>
                        </form>
                    </div>
                </div>
                <form th:if="${canReview}" th:action="@{'/publication/' + ${publication.getId()} + '/comment/post'}"
                      method="post" class="mt-2">
                    <textarea class="form-control" name="commentInput" required></textarea>
                    <button type="submit" class="btn btn-primary mt-3">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/trackplaying.js}"></script>
</body>
</html>