<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новая публикация</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body class="bg-light">
<header th:insert="header :: header"></header>

<div class="container">
    <div class="row mb-5 mt-1 pb-1 border-bottom text-center">
        <h2>Новая публикация</h2>
    </div>
    <form th:action="@{'create'}" method="post" th:object="${publication}" enctype="multipart/form-data">
        <div class="row row-cols-2 mb-4 pb-3 border-bottom">
            <div class="col-5">
                <img th:src="@{/svg/square.svg}" style="width: 300px">
                <div class="row row-cols-2">
                    <div class="col-auto">
                        <h5 class="mt-3 mb-2">Обложка:</h5>
                    </div>
                    <div class="col-5">
                        <input type="file" name="image" class="form-control-file mt-3" accept="image/jpeg, image/png">
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="row g-3">
                    <div class="col-12 row">
                        <label for="titleField" class="form-label">Название</label>
                        <input class="form-control" type="text" id="titleField" th:field="*{title}" required autofocus/>
                    </div>
                    <input type="hidden" th:field="*{merch}"/>
                    <div class="col-12 row">
                        <label for="descField" class="form-label">Описание</label>
                        <textarea class="form-control" type="text" id="descField" th:field="*{description}" required/>
                    </div>
                    <div class="col-3">
                        <label for="genreField" class="form-label">Жанр</label>
                        <select class="form-select" id="genreField" name="genre">
                            <option selected value="0">Другой</option>
                            <div th:each="genre : ${genres}">
                                <option th:value="${genre.getId()}" th:text="${genre.getName()}"></option>
                            </div>
                        </select>
                    </div>
                    <div class="col-3" th:if="${publication.getMerch()}">
                        <label for="amountField" class="form-label">Количество</label>
                        <input class="form-control" type="number" id="amountField" th:field="*{amount}" required/>
                    </div>
                    <div class="col-auto">
                        <label for="priceField" class="form-label">Цена</label>
                        <div class="input-group">
                            <input class="form-control" type="number" id="priceField" th:field="*{price}" required/>
                            <span class="input-group-text">₽</span>
                        </div>
                    </div>
                    <div class="col-auto"></div>
                </div>
            </div>
        </div>
        <div th:if="${!publication.getMerch()}" class="row pb-3 border-bottom">
            <div class="row row-cols-2 mb-2">
                <div class="col-auto">
                    <label for="trackField0" class="form-label">Название трека</label>
                    <input class="form-control" type="text" name="trackNames" id="trackField0" required/>
                </div>
                <div class="col-5 mt-auto mb-1">
                    <input type="file" name="trackFiles" class="form-control-file" accept=".mp3">
                </div>
            </div>
            <button type="button" class="btn btn-primary mt-3 col-auto" onclick="addTrack()" id="trackButton">Добавить трек</button>
        </div>
        <div class="col-2 ms-auto mt-3 me-3 mb-4">
            <button type="submit" class="btn btn-primary">Опубликовать</button>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/trackadding.js}"></script>
</body>
</html>