<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="'Поиск: ' + ${searchStr}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body class="bg-light">
<header th:insert="header :: header"></header>
<main>
    <div class="container">
        <div th:if="${noResult == false}">
            <h2 th:text="'Поиск по запросу: ' + ${searchStr}"></h2>
            <div th:each="per : ${personList}">
                <div class="row border-bottom border-top mb-3">
                    <div class="col-3 border-end pt-1 pb-1">
                        <div th:switch="${per.getImageBean() == null}">
                            <div th:case="true">
                                <img th:src="@{/svg/person-square.svg}" class="img-thumbnail" style="width: 200px">
                            </div>
                            <div th:case="false">
                                <img th:src="@{'/image/' + ${per.getImageBean().getId()}}" class="img-thumbnail" style="width: 200px">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row border-bottom row-cols2">
                            <div class="col-auto">
                                <h3 th:text="${per.getUsername()}"></h3>
                            </div>
                            <div class="col-auto">
                                <form th:action="@{'/user/' + ${per.getId()}}" method="get">
                                    <input type="submit" class="btn btn-primary" value="Посмотреть">
                                </form>
                                </div>
                        </div>
                        <div class="row mt-1">
                            <p class="lead" th:if="${per.getInformation() != null}" th:text="${per.getInformation()}"></p>
                        </div>
                        <div class="row mt-1">
                            <div class="col-auto mb-2 ms-auto me-1">
                                <p class="text-muted">пользователь</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:each="pub : ${publicationList}">
                <div class="row border-bottom border-top mb-3">
                    <div class="col-3 border-end pt-1 pb-1">
                        <div th:switch="${pub.getImageBean() == null}">
                            <div th:case="true">
                                <img th:src="@{/svg/square.svg}" class="img-thumbnail" style="width: 200px">
                            </div>
                            <div th:case="false">
                                <img th:src="@{'/image/' + ${pub.getImageBean().getId()}}" class="img-thumbnail" style="width: 200px">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row border-bottom row-cols2">
                            <div class="col-auto">
                                <h3 th:text="${pub.getTitle()}"></h3>
                            </div>
                            <div class="col-auto">
                                <form th:action="@{'/publication/' + ${pub.getId()}}" method="get">
                                    <input type="submit" class="btn btn-primary" value="Посмотреть"></input>
                                </form>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <p class="lead" th:if="${pub.getDescription() != null}" th:text="${pub.getDescription()}"></p>
                        </div>
                        <div class="row mt-1">
                            <div class="col-auto mb-2 ms-auto me-1">
                                <p class="text-muted">публикация</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${noResult == true}">
            <div class="row text-center">
                <h3 th:text="${'По запросу &quot;' + searchStr + '&quot; ничего не найдено' }"></h3>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>
</html>