<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Зарегистрироваться</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body class="bg-light">

<header th:insert="header :: header"></header>

<div class="container-fluid text-center">
    <form th:action="@{/signup}" method="post" style="max-width: 350px; margin: 0 auto;">
        <div class="border border-secondary p-3 rounded">
            <p>Зарегистрироваться</p>
            <p>
                <input type="text" name="login" class="form-control" placeholder="Логин" required autofocus/>
            </p>
            <p>
                <input type="password" name="password" class="form-control" placeholder="Пароль" required />
            </p>
            <p>
                <input type="text" name="username" class="form-control" placeholder="Имя" required />
            </p>
            <p>
                <input type="submit" value="Зарегистрироваться" class="btn btn-primary" />
            </p>
            <div th:if="${error != null}">
                <p class="text-danger" th:text="${error}"></p>
            </div>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>