<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="'Коллекция - ' + ${person.getUsername()}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body class="bg-light">
<header th:insert="header :: header"></header>
<main>
    <div class="container">
        <div class="row mb-5 pb-3 border-bottom text-center">
            <div class="col-auto">
                <h2 th:text="'Коллекция пользователя ' + ${person.getUsername()}"></h2>
            </div>
            <div class="col-auto ms-3">
                <a class="btn btn-primary" th:href="@{'/user/' + ${person.getId()}}">На страницу</a>
            </div>
        </div>
        <div class="row gap-3">
            <div class="card col-2" th:each="collectible : ${person.getCollectibles()}" th:with="pub=${collectible.getPublicationBean()}">
                <img th:if="${pub.getImageBean() == null}" th:src="@{/svg/square.svg}" class="card-img-top p-1 mx-auto"
                     style="width: 190px">
                <img th:if="${pub.getImageBean() != null}" th:src="'/image/' + ${pub.getImageBean().getId()}"
                     class="card-img-top p-1 mx-auto" style="width: 190px">
                <div class="card-body">
                    <h5 class="card-title" th:text="${pub.getTitle()}"></h5>
                    <h6 class="card-subtitle mb-2 text-muted"
                        th:text="${pub.getPersonBean().getUsername()}"></h6>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <a class="btn btn-primary" th:href="@{'/publication/' + ${pub.getId()}}">Посмотреть</a>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>
</html>