<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Уведомления</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body class="bg-light">
<header th:insert="header :: header"></header>
<main>
    <div class="container">
        <div class="row text-center mb-3 pb-2 border-bottom">
            <h2>Уведомления о покупках</h2>
        </div>
        <div class="row">
            <div th:each="purchaseNotice : ${currentPerson.get().getPurchasenotices()}">
                <div class="row pb-2 mb-2 border-bottom" th:if="${purchaseNotice.getCheck() == false}">
                    <div class="row mb-1">
                        <div class="col-auto text-center pb-1 border-bottom">
                            <h4 th:text="${purchaseNotice.getPublicationBean().getTitle()}"></h4>
                        </div>
                    </div>
                    <div class="row">
                        <p class="lead" th:text="${'Адрес: ' + purchaseNotice.getContent()}"></p>
                    </div>
                    <div class="row">
                        <div class="col-auto ms-auto me-2">
                            <form action="/user/notices" method="post">
                                <button class="btn btn-primary" type="submit" name="noticeId" th:value="${purchaseNotice.getId()}">Подтвердить</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row pb-2 mb-2 border-bottom" th:if="${purchaseNotice.getCheck() == true}">
                    <div class="row mb-1">
                        <div class="col-auto text-center">
                            <h4 class="text-muted" th:text="${purchaseNotice.getPublicationBean().getTitle()}"></h4>
                        </div>
                    </div>
                    <div class="row">
                        <p class="lead text-muted" th:text="${'Адрес: ' + purchaseNotice.getContent()}"></p>
                    </div>
                    <div class="row">
                        <div class="col-auto ms-auto me-2">
                            <a class="btn btn-primary disabled">Подтверждено</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>
</html>