<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getUsername()}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body class="bg-light">
<header th:insert="header :: header"></header>

<main>
    <div class="container">
        <div class="row mb-4">
            <div class="col-3 border-end">
                <div th:switch="${person.getImageBean() == null}">
                    <div th:case="true">
                        <img th:src="@{/svg/person-square.svg}" class="img-thumbnail" style="width: 300px">
                    </div>
                    <div th:case="false">
                        <img th:src="@{'/image/' + ${person.getImageBean().getId()}}" class="img-thumbnail"
                             style="width: 300px">
                    </div>
                </div>
            </div>
            <div class="col pb-3">
                <h4 class="border-bottom text-center mb-2" th:text="${person.getUsername()}"></h4>
                <p class="lead ms-4 me-4" th:text="${person.getInformation() != null} ? ${person.getInformation()} : ''">
            </div>
        </div>
    </div>
    <div>
        <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #eaeaea">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="'/user/' + ${person.getId()} + '/publications'">Публикации</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="'/user/' + ${person.getId()} + '/collection'">Коллекция</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto me-5 " th:if="${currentPerson.isPresent()}">
                    <li class="nav-item" th:if="${currentPerson.get().getId() == person.getId()}">
                        <a class="nav-link" th:href="'/user/wishlist'">Список желаемого</a>
                    </li>
                    <li class="nav-item" th:if="${currentPerson.get().getId() == person.getId()}">
                        <a class="nav-link" th:href="'/user/notices'">Уведомления</a>
                    </li>
                    <li class="nav-item" th:if="${currentPerson.get().getId() == person.getId()}">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Новая публикация
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" th:href="@{/publication/create(merch=${0})}">Цифровая</a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/publication/create(merch=${1})}">Физическая</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item pe-2 ps-2" th:if="${currentPerson.get().getId() != person.getId()}">
                        <form th:action="@{'/user/' + ${person.getId()} + '/xsubscribe'}" method="post">
                            <button th:if="${!subscribed}" type="submit" class="btn btn-primary">Подписаться</button>
                            <button th:if="${subscribed}" type="submit" class="btn btn-danger">Отписаться</button>
                        </form>
                    </li>
                    <li class="nav-item pe-2 ps-2" th:if="${currentPerson.get().getId() != person.getId()}" sec:authorize="hasAuthority('ADMIN')">
                        <form th:action="@{'/user/' + ${person.getId()} + '/editrole'}" method="post">
                            <button th:if="${person.getRole_() == person.getRole_().USER}" class="btn btn-primary">
                                Модератор +
                            </button>
                            <button th:if="${person.getRole_() == person.getRole_().MODERATOR}" class="btn btn-danger">
                                Модератор -
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>
</html>