<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Подписки</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body class="bg-light">
<header th:insert="header :: header"></header>
<main>
    <div class="container">
        <div class="row row-cols-2">
            <div class="col-7">
                <div class="row text-center mb-3 pb-2 border-bottom">
                    <h2>Лента</h2>
                </div>
                <div th:each="pub : ${feedList}" class="row border-bottom border-top mb-3">
                    <div class="col-3 border-end pt-1 pb-1">
                        <div th:switch="${pub.getImageBean() == null}">
                            <div th:case="true">
                                <img th:src="@{/svg/square.svg}" class="img-thumbnail" style="width: 200px">
                            </div>
                            <div th:case="false">
                                <img th:src="@{'/image/' + ${pub.getImageBean().getId()}}" class="img-thumbnail"
                                     style="width: 200px">
                            </div>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="row border-bottom row-cols2">
                            <div class="col-auto">
                                <h4 th:text="${pub.getPersonBean().getUsername() + ' - ' + pub.getTitle()}"></h4>
                            </div>
                            <div class="col-auto ms-auto me-2 p-1">
                                <form class="ps-2 border-start" th:action="@{'/publication/' + ${pub.getId()}}" method="get">
                                    <input type="submit" class="btn btn-primary" value="Посмотреть">
                                </form>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <p class="lead" th:if="${pub.getDescription() != null}"
                               th:text="${pub.getDescription()}"></p>
                        </div>
                        <div class="row mt-auto">
                            <div class="col-auto ms-auto me-1">
                                <p class="text-muted" th:text="${pub.getDateDDMMYYYY()}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 border-start">
                <div class="row mb-3 pb-2 text-center border-bottom">
                    <h2>Мои подписки:</h2>
                </div>
                <div th:each="sub : ${currentPerson.get().getSubscriptions2()}" class="row pb-2 mb-1 border-bottom">
                    <div class="col-4 me-3">
                        <h4 th:text="${sub.getPerson().getUsername()}"></h4>
                    </div>
                    <div class="col-3 me-2">
                        <a class="btn btn-primary"
                           th:href="@{'/publication/' + ${sub.getPerson().getId()}}">Страница</a>
                    </div>
                    <div class="col-3">
                        <form th:action="@{'/user/' + ${sub.getPerson().getId()} + '/xsubscribe'}" method="post">
                            <input type="submit" class="btn btn-danger" value="Отписаться">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>
</html>