<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Настройки</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body class="bg-light">
<header th:insert="header :: header"></header>

<div class="container" th:with="person=${currentPerson.get()}">
    <div class="row mb-5">
        <div class="col-auto">
            <div th:switch="${person.getImageBean() == null}">
                <div th:case="true">
                    <img th:src="@{/svg/person-square.svg}" class="img-thumbnail" style="width: 400px">
                </div>
                <div th:case="false">
                    <img th:src="@{'/image/' + ${person.getImageBean().getId()}}" class="img-thumbnail" style="width: 400px">
                </div>
            </div>
            <p>Фотография профиля</p>
            <form enctype="multipart/form-data" action="/user/settings/uploadimage" method="post">
                <input type="file" name="image" class="form-control-file" accept="image/jpeg, image/png">
                <button type="submit" class="btn btn-primary">Загрузить фотографию</button>
            </form>
        </div>
        <div class="col-auto">
            <div class="row">
                <h4 class="ms-auto me-5" th:text="'Доход: ' + ${person.getPaycheck() == null ? '0' : person.getPaycheck()} + ' ₽'"></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <form action="/user/settings/edit" method="post">
            <label for="infoField" class="form-label">Описание профиля</label>
            <textarea class="form-control" id="infoField" name="info" rows="4" th:value="${person.getInformation()}" required></textarea>
            <button type="submit" class="btn btn-primary mt-4 ms-3 mb-5">Сохранить описание</button>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>