<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body class="bg-light">
<header th:insert="header :: header"></header>
<main>
    <div class="container">
        <div class="row mb-5 pb-3 border-bottom">
            <h2 class="text-center">Мой вишлист</h2>
        </div>
        <div class="row gap-3">
            <div class="card col-2" th:each="wishItem : ${wishList}" th:with="pub=${wishItem.getPublicationBean()}">
                <img th:if="${pub.getImageBean() == null}" th:src="@{/svg/square.svg}" class="card-img-top p-1 mx-auto"
                     style="width: 190px">
                <img th:if="${pub.getImageBean() != null}" th:src="'/image/' + ${pub.getImageBean().getId()}"
                     class="card-img-top p-1 mx-auto" style="width: 190px">
                <div class="card-body">
                    <h5 class="card-title" th:text="${pub.getTitle()}"></h5>
                    <h6 class="card-subtitle mb-2 text-muted"
                        th:text="${pub.getPersonBean().getUsername()}"></h6>
                </div>
                <div class="card-footer row">
                    <div class="col-9">
                        <a class="btn btn-primary me-2" th:href="@{'/publication/' + ${pub.getId()}}">Посмотреть</a>
                    </div>
                    <div class="col-1">
                        <form th:action="@{'/publication/' + ${pub.getId()} + '/unwish'}" method="post">
                            <button type="submit" class="btn btn-danger"> -</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>
</html>